.pokeCont {
  border: 1px solid black;
}

.cont {
  padding: 2%;
}

.mainImg {
  width: 100%;
  border: 6px solid #343a40;
  border-radius: 10px;
  margin-right: 10%;
}

.infoCont {
  border-radius: 5px;
  padding: 2%;
  display: flex;
}

.chain {
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: transparent url(../images/bg_grey.png);
}

.title {
  padding: 1%;
}

.chain > div {
  display: flex;
  justify-content: space-around;
  width: -webkit-fill-available;
  align-items: center;
  padding: 1%;
}

.chainCenter {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.chain div a {
  font-family: "Flexo-Medium", arial, sans-serif;
  clear: both;
  color: #fff;
  float: left;
  margin: 0.75em 0;
  text-align: center;
  text-transform: none;
  font-size: 30px;
}

.chainCenter img {
  border: 4px solid white;
  background-color: #616161;
  border-radius: 50%;
  padding: 10%;
}

.chainCenter div {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.footer {
  background-color: #343a40;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 1%;
}

.footer img {
  width: 3%;
}

.arrowCont {
  width: 10%;
}

.selected {
  background: #343a40;
  border-radius: 5px;
  padding: 10%;
}

.eevee {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
}

.eevee img {
  border: 4px solid white;
  background-color: #616161;
  border-radius: 50%;
  padding: 10%;
}

.eevee div {
  display: flex;
  flex-direction: column;
}
